*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;

}
/* banner style */
.banner-container{
    background:url("../images/banner/banner3.png");
    background-repeat: no-repeat;
    background-position:center ;
    background-size: cover;
    height: 50%; 

}
.banner{
    padding-left: 1000px;
    padding-right: 200px;
    text-align: right ;
}
.banner-title{
    font-size: 65px;
    font-weight: 700;
    size: 65px;
    color:white;
    padding-top: 180px;

}
.banner-description{
    color: white;
    margin-top: 30px;
    font-size: 20px;
font-size: 18px;
font-weight: 400;
padding-bottom: 35px;

}

.btn-primary{
font-size: 25px;
font-weight:600;
color: #005fac;
line-height: 23px;
border-radius: 9px;
border: none;
padding: 15px;
margin-bottom: 150px;

}  
 /*failure part  */
.failure{
    display:flex ;
    gap: 200px;
}
.profile-img{
    padding-left:10%;
}
.fail-description{
    margin-left:8%;
}

.faile-list{
    margin-top: 18%;
}
    

    
     
